html, body{
  margin:0;
  min-height:100%;
}
/* body {
  min-height:100%;
  width:100%;
} */

body::before{
  background: url('hompagesignin.jpg') no-repeat fixed center;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(10px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(4px);
}
div.settings {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ":"; }

h1 {
  text-align:center;
  font-family: FreeMono, monospace;
  font-weight: bold;
  color: #212225;
}

h2 {
  text-align:center;
  font-family: FreeMono, monospace;
  font-weight: bold;
  color: #212225;
}

h3 {
  text-align:center;
  font-family: FreeMono, monospace;
  font-weight: bold;
  color: #212225;

}

h4 {
  text-align:center;
  font-family: FreeMono, monospace;
  font-weight: bold;
  color: #212225;

}
p {
  text-align:center;
  text-shadow: 0.01em 0 black;
  font-family: Courier, monospace;
  font-weight:bold;
  font-size:22px;
  color:darkslategray
  
}
 

ul {
    list-style-type: none; /* Remove bullets */
    padding:0;
    margin:0;
}
.form {
  margin: 0 auto;
  width: 100%;
  height: 250px;
}
.form label{
  display: inline-block;
  text-align: right;
  
}
input[type=text]{  
  display: inline-block;
  text-align: left;
  padding: 10px;
  min-width: 25%;
  max-width:50%;
  height: 15px;
  font-size: 15px;
} 
 
input[type=password]{
  display: inline-block;
  text-align: left;
  padding: 10px;
  min-width: 25%;
  max-width:50%;
  height: 15px;
  font-size: 15px;
}

input[type=number]{  
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 25%;
  height: 15px;
  font-size:15px;

  
}
input[type=submit]{
  border-radius: 5px;
  font-family: Courier, monospace;
  font-size: 15px;

}
button {
  border-radius: 5px;
  font-family: Courier, monospace;
  font-size: 15px;
}
.navbar {
    background-color:darkslategray;
    color: white;
    border-radius: 0px;
}
  
#ubermelon-logo, #ubermelon-logo:hover, .navbar-dark .navbar-brand {
    color: white;
}
  
.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
  color: white;
}
a {
  font-size: 20px;
  font-weight: bold;
}
a:link {
  color: white;
}
a:visited{
  color:darkblue;
}
a:hover{
  color:cornflowerblue;
}

dt{
  text-align:right;
}
dd{
  text-align:right;
}
dt, dd{
   
   
   display:inline-block;
   width:50%;
}

.progress-bar{
  background-color: darkslategray;
}
.type_goal{
  text-align:center;
}