{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}


{% block body %}
<h2>Welcome to your dashboard, {{user_name}}!</h2>
<div>


{%for habit in user_habits%}
<p style="text-align:center;">
    <ul id="habit-name" style="text-align:center;">
   
    {{ habit.name.upper() }}
<li>
    <a href='/habit_log_display/{{habit.user_habit_id}}'><button type="button">Log</button></a> 
    <a href='/habit_progress/{{habit.user_habit_id}}'><button type="button">Track Progress</button></a> 
    <a href='/messages/{{habit.user_habit_id}}'><button type="button">Accountability</button></a> 
</li>
</ul> </p>
{% endfor %}
</div>
<div>
<p style="text-align:center;">
    You have {{num_habit}} more to set up
    
</p>
<p style="text-align:center;"> 
    {%if num_habit>0 %}
    <a href='/habit'><button type = "button">Set it up here</button></a>
    {%endif%}
</p>
</div>


   


{% endblock %}