{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}


{% block body %}
<h1>Habit log</h1>
<h2>Create a log for {{user_habit_name}} today</h2>
<p>
    Date of activity: {{date_of}}
</p>
<form action='/habit_log_display/{{user_habit_id}}', method='POST'>
    <p>
        Login_time <input type='text' name="log_in_time">
    </p>
    
    <p>
        Journal entry <input type='text' name="journal_entry">
    </p>
    <p>
    <input type = "submit">
    </p>
    

</form>
<p>Progress {{progress}}%</p>
<a href='/habit_display'>Back to Habit Display</a>




{% endblock %}