{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}

{% block body %}

<h2>Habit Setup Page</h2>

<h3>Let's set up some habits!</h3>
<h3>You can set up a total of 3 habits</h3>

 
  <form action="/habit" method="POST">
    
         <p>
           Habit name <input type='text' name='habit_name'>
         </p>
         <p>
           <label for="execution">Type of goal execution</label>
            <select name="type_goal" id="type_goal">
            <option value="hours">Hours</option>
            <option value="days">Days</option>
            </select>
         </p>
         <p>
          Goal <input type='number' id='habit-goal'name='goal'>
        </p>
         <p>
           Start date:<input type="date" id="start_date" name='start_date'>
         </p>
         
         <p>
           <input type="submit" value="Submit">
         </p> 
         
        </form>


<p>{{num_habits}} habits created</p>
<a href='/habit_display'>Back to your dashboard</a>   
<script>
  "use strict";
  $("#habit-goal").on('click', ()=>{
    if ($('#type_goal').val()== "hours")
    alert('Select between 10 - 720 hours')
    if ($('#type_goal').val() =="days")
    alert('Select between 10 - 30 days')

  })
</script>

{% endblock %}