{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}
{%block head%}
<style>
    body::before{
      background: url('/static/HabitTrack.jpg') no-repeat fixed center !important;
      background-size: cover  !important;
      
  
    }
  </style>
{%endblock%}

{% block body %}
<h1>{{user_habit_name[0].upper()}}{{user_habit_name[1:]}} progress: {{progress}}%</h1>
<div class="progress" style="height:30px; width:100%;">
    <div id = "progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{progress}}%; color:white; weight:bold;" aria-valuenow={{progress}} aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
  </div>
<h3>You have {{days_left}} days left to meet goal </h3>
<h3>Your logs for this habit</h3>

{% for x,y in log_date|zip(journal_entries)%}
<p>
<dl>
 <dt>Your journal entry for {{x}}</dt>
 <dd>: {{y}}</dd>
</dl>
 {%endfor%}
</p>
<p style="text-align:center;">
    <a href='/habit_display'><b>Back to your dashboard</b></a>
</p>



{% endblock %} 