{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}

{% block body %}

<h1>Habit Page</h1>

<h2>Let's set up some habits!</h2>
<h3>You can set up a total of 3 habits</h3>

 
  <form action="/habit" method="POST">
    
         <p>
           Habit name <input type='text' name='habit_name'>
         </p>
         <p>
           <label for="execution">Type of goal execution</label>
            <select name="type_goal" id="type_goal">
            <option value="hours">Hours</option>
            <option value="days">Days</option>
            </select>
         </p>
         <p>
          Goal <input type='number' id='habit-goal'name='goal'>
        </p>
         <p>
           Start date:<input type="date" name="start_date">
         </p>
         <p>
          End date:<input type="date" name="end_date">
        </p>
         <p>
           <input type="submit" value="Submit">
         </p> 
         
        </form>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
</script>
<script>
  "use strict";
  $('#habit-goal').on('click', () =>{
    alert('A range');
  });
</script>  
<p>{{num_habits}} habits created</p>
<a href='/habit_display'>Back to your dashboard</a>   
  

{% endblock %}