{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}
{%block head%}
<style>
    body::before{
      background: url('/static/HabitLog.jpg') no-repeat fixed center !important;
      background-size: cover  !important;
    }  
  

  </style>
{%endblock%}
{% block body %}
<h2>Habit log</h2>
<h2>Create a log for {{user_habit_name}} today</h2>
<p>
    Date of activity: {{date_of}}
</p>
{% if type_of_execution=="hours"%}
<form action='/habit_log_display/{{user_habit_id}}', method='POST'>
    
    
        
        <p><label>Login_time</label> <input type='text' name="log_in_time"></p>
        <p><select name="type_goal" id="type_goal">
            <option value="hours">Hours</option>
            <option value="minutes">Minutes</option></select></p>
        
        
    
    
    <p>
        <label>Journal entry</label> <input type='text' name="journal_entry">
    </p>
    <p>
    <input type = "submit">
    </p>
    

</form>

{%else%}
<form action='/habit_log_display/{{user_habit_id}}', method='POST'>
        <p>
            <label>Login_time</label> 
            <input type='text' name="log_in_time">
        </p>
        <p>
            <label>Journal entry</label> 
            <input type='text' name="journal_entry">
                
        </p>
        <p>
        <input type = "submit">
        </p>
    </form>
{%endif%}
{% if date_logs %}
<p>Your last log for this habit was on: {{date_logs[-1]}}</p>
{% else %}
<p>Time to make your first log entry!</p>
{% endif %}
<p><a href='/habit_display'><b>Back to your dashboard</b></a></p>




{% endblock %}