{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}

{% block body %}
<h1>Sign-In</h1>
  <form action="/login" method="POST">
    <p style="text-align:center;">
        Email <input style="text-align:center;" type="text" name="email">
      </p>
  
      <p style="text-align:center;">
        Password <input style="text-align:center;" type="text" name="password">
    </p>
    <p style="text-align:center;">
        <input style="text-align:center;" type="submit">
      </p>
    </form>
  {% endblock %}