{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}


{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div>
    
    
    
    {%if not set_as_partner_id%}
    <form action='/messages/{{user_habit_id}}', method='POST'>
    <h3>Let's set up a {{user_habit_name}} accountability partner,  {{user_name}}!</h3>
    
    <p>
       Enter partner's email address <input type="text" name="email">
    </p>
    <p>
       Send your new partner a message <input type='text' name="messages">
    </p>
    <p>
        <input type = "submit">
    </p>
    </form>
    
    {% if other_users and other_users|length > 1 %}
    Others practicing {{user_habit_name}} like you
    
    
    <ul>
        {% for user in other_users %}
        {% if user[0] != user_name %}
        <li>{{user[0]}}'s email address: {{user[1]}}</li>
        {% endif %}
        {% endfor %}
    </ul>
    
    {% else %}
    We will alert you when someone picks this habit.
    {% endif %}
    {% else %}
    <form action='/messages/{{user_habit_id}}', method='POST'>
    <h3>Let's check how {{sender_name}} is faring with their {{user_habit_name}}</h3>
    <p>{{sender_name}}'s progress so far is at:</p>
    <div class="progress" style="height:25px; width:50%">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{partner_progress}}%"aria-valuenow={{partner_progress}} aria-valuemin="0" aria-valuemax="100">{{partner_progress}}%</div>
      </div>
    <p>{{sender_name}} has {{days_left}} days left to meet goal</p>
    <p>{{sender_name}}'s last {{user_habit_name}} log was on: {{last_login}}</p>
    <p>Send {{sender_name}} a message <input type='text' name="messages"> </p>
    <p>
        <input type = "submit">
    </p>
    
    </form>
    <div>
    
        Click below to see messages
        {% if check_messages_receiver %}
        <p><button id=1 type="button">Messages you sent</button></p>
        <p>
            <ul id="list1">
            {% for record in check_messages_receiver %}
            <li>On {{record[0]}}, you messaged: {{record[1]}}</li>
            
            {% endfor %}
            </ul>
        </p>
        {%endif%}
        {% if check_messages_sender %}
        <p><button id="2" type="button">Messages from {{sender_name}}</button></p>
        <p>
            <ul id="list2">
            {% for record in check_messages_sender %}
            <li>On {{record[0]}}, {{record[2]}} messaged: {{record[1]}}</li>
            
            {% endfor %}
            </ul>
        </p>
        {% endif %}

        
    
    </div>
    {%endif%}
    
</div>
<script>
    $(document).ready(function () {
     $('#list2').hide();
     $('#list1').hide();
     
     $('#1').click(function () {
         $('#list1').toggle();
     });
     $('#2').click(function () {
         $('#list2').toggle();
     });
 });

</script>
<div>
    <a href='/habit_display'>Back to your dashboard</a>
</div>
{% endblock %}