{% extends 'base.html' %}
{% block title %}2do 2gether{% endblock %}
{%block head%}
<style>
    body::before{
      background: url('/static/Accountability.jpg') no-repeat fixed center !important;
      background-size: cover  !important;
      
    }
  </style>
{%endblock%}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div>
    
    
    
    {%if not set_as_partner_id%}
    <form action='/messages/{{user_habit_id}}', method='POST'>
    <h2>Let's set up a {{user_habit_name}} accountability partner,  {{user_name}}!</h2>
    
    <p>
       <label>Enter partner's email address</label> <input type="text" name="email">
    </p>
    <p>
       <label>Send your new partner a message</label> <input type='text' name="messages">
    </p>
    <p>
        <input type = "submit">
    </p>
    </form>
    
    {% if other_users and other_users|length > 1 %}
    <b>Others practicing {{user_habit_name}} like you</b>
    
    
    <ul>
        {% for user in other_users %}
        {% if user[0] != user_name %}
        <li><b>{{user[0]}}'s email address: {{user[1]}}</b></li>
        {% endif %}
        {% endfor %}
    </ul>
    
    {% else %}
    We will alert you when someone picks this habit.
    {% endif %}
    {% else %}
    <form action='/messages/{{user_habit_id}}', method='POST'>
    <h2>Let's check how {{sender_name}} is faring with their {{user_habit_name}}</h2>
    <p>{{sender_name}}'s progress so far is at:</p>
    {%if partner_progress>0 %}
    <div class="progress" style="height:40px; width:100%">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{partner_progress}}%; color:white; weight:bold;%"aria-valuenow={{partner_progress}} aria-valuemin="0" aria-valuemax="100">{{partner_progress}}%</div>
      </div>
    {%else%}
    <div class="progress" style="height:40px; width:100%">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{partner_progress}}%; color:black; weight:bold;%"aria-valuenow={{partner_progress}} aria-valuemin="0" aria-valuemax="100">{{partner_progress}}%</div>
      </div>
    {%endif%}
    <p>{{sender_name}} has {{days_left}} days left to meet goal</p>
    <p>{{sender_name}}'s last {{user_habit_name}} log was on: {{last_login}}</p>
    <p><label>Send {{sender_name}} a message</label> <input type='text' name="messages"> </p>
    <p>
        <input type = "submit">
    </p>
    
    </form>
    <div>
    
        <div><b>Click below to see messages</b></div>
        {% if check_messages_receiver %}
        <button id=1 type="button">Messages you sent</button>
        <p>
            <ul id="list1">
            {% for record in check_messages_receiver %}
            <li><b>On {{record[0]}}, you messaged: {{record[1]}}</b></li>
            
            {% endfor %}
            </ul>
        </p>
        {%endif%}
        {% if check_messages_sender %}
        <button id="2" type="button">Messages from {{sender_name}}</button>
        <p>
            <ul id="list2">
            {% for record in check_messages_sender %}
            <li><b>On {{record[0]}}, {{record[2]}} messaged: {{record[1]}}</b></li>
            
            {% endfor %}
            </ul>
        </p>
        {% endif %}

        
    
    </div>
    {%endif%}
    
</div>
<script>
    $(document).ready(function () {
     $('#list2').hide();
     $('#list1').hide();
     
     $('#1').click(function () {
         $('#list1').toggle();
     });
     $('#2').click(function () {
         $('#list2').toggle();
     });
 });

</script>
<p>
    <a href='/habit_display'><b>Back to your dashboard</b></a>
</p>
{% endblock %}